<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, cupiditate, eligendi facilis qui molestias quia enim voluptates nesciunt doloremque fuga quis ab perferendis sint accusamus cum reiciendis mollitia vitae eos? ipsum dolor sit amet, consectetur adipisicing elit. Officiis, modi, ipsum, cum, impedit aspernatur non voluptate quia laborum adipisci tempora dolore odit deserunt fuga animi architecto excepturi dignissimos nam quis!
</p>